<h4>Añadir usuarios al sistema:</h4>
<div class="form-group">
	<label for="email">Email:</label>
	<input type="email" class="form-control" id="email" ng-model="userLogin.user">
</div>
<div class="form-group">
	<label for="password">Password:</label>
	<input type="password" class="form-control" id="password" ng-model="userLogin.pass">
</div>
<div class="form-group">
	<label for="rePass">Repassword:</label>
	<input type="password" class="form-control" id="repassword" ng-model="repass">
</div>
<b>Tipo de cuenta: <b>
<ul class="nav nav-pills" role="tablist" style="padding-top:4px;">
	<li role="presentation" id="userChoose" class="active"><a ng-click="clickUser()">User</a></li>
	<li role="presentation" id="adminChoose"><a ng-click="clickAdmin()">Admin</a></li>
</ul>
<br></br>
<button class="btn btn-primary" ng-click="createAccount()">Create account</button>
