<!-- The Modal -->
<div id="adminModal" class="modal">
	  <!-- Modal content -->
	<div id="adminContent"class="modal-content">

	</div>
</div>

<h1 class="page-header">Administración</h1>
<div class="admin">
	<ul class="nav nav-tabs">
		<li role="presentation" id="personalTABTAB" class="active" ng-click="changeTab('personalTAB')"><a>Personal</a></li>
		<li role="presentation" id="applicationTABTAB" style="display:none" ng-click="changeTab('applicationTAB')"><a>Administración</a></li>		
	</ul>

	<div id="perTab" class="container" style="width:100%;display:block;padding-top:2%" >
		<div class="panel panel-default">
			<div class="panel-body">
				<change-password></change-password>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<personal-bio></personal-bio>
			</div>	
		</div>
	</div>
	<div id="appTab" class="container" style="width:100%;display:none;padding-top:2%">
		<div class="panel panel-default">
			<div class="panel-body">
				<add-users></add-users>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<see-allusers></see-allusers>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<see-allprojects></see-allprojects>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<see-allgroups></see-allgroups>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<remove-data></remove-data>
			</div>	
		</div>
	</div>
</div>
