<style>
	.tabBody{
		padding:20px;
	}
	table{
		margin-top:2px;	
	}
	.tableContainer{
		height:300px;
	}
	.tableContainer table{
		overflow-y: scroll;
	}
	.opcion{
		margin-left:90%;
	}
</style>
<div>
	<ul class="nav nav-tabs">
		<li role="presentation"id="bioTABTAB" class="active" ng-click="changeTab('bioTAB')"><a>Bio</a></li>
		<li role="presentation" id="permisionTABTAB" ng-click="changeTab('permisionTAB')"><a>Permisos</a></li>		
		<li role="presentation" id="subGroupsTABTAB" ng-click="changeTab('subGroupsTAB')"><a>Subgrupos</a></li>
		<li role="presentation" id="projectInsideTABTAB" ng-click="changeTab('projectInsideTAB')"><a>Proyectos</a></li>
	</ul>
	<div class="tabBody" id="bioTAB" style="display:block;">
		<div id="bio">
			<h4 class="page-header">Información basica del grupo:<a ng-click="makeClickDelete()"><spam class="glyphicon glyphicon-trash" style="padding-left: 68%;"></spam></a></h4>
			<div class="form-group">
				<label>Nombre del grupo:</label>
				<input type="text" class="form-control" ng-model="group.name" disabled></input>
			</div>
			<div class="form-group">
				<label>Descripción del grupo:</label>
				<textarea class="form-control" ng-model="group.description"></textarea>
			</div>
			<button class="btn btn-primary btn-sm" ng-click="makeClickUpdate()">modificar</button>
		</div>
		<hr></hr>
		<div id="miembros" class="tableContainer">
			<h4 class="page-header">Miembros del grupo:</h4>

			<a class="opcion text-right" ng-click="interactAddMember()">Añadir <span class="glyphicon glyphicon-plus-sign"></span></a>
			<div id="addMember" style="display:none;">
				<div class="form-group">
					<label>Email del usuario:</label>
					<input type="email" class="form-control" ng-model="userToMakeMember"></input>
				</div>
				<button class="btn btn-primary btn-sm" ng-click="addNewMember()">invitar</button>
				<hr></hr>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>User:</th>
						<th>Rol:</th>
						<th>Desde:</th>
						<th>Opciones</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="member in members">
						<td>{{member.user}}</td>
						<td>{{member.rol}}</td>
						<td>{{member.since}}</td>						
						<td><a ng-click="makeClickDeleteMember(member.user)">Borrar <span class="glyphicon glyphicon-minus-sign"></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="tabBody" id="subGroupsTAB" style="display:none">
		<div class="tableContainer">
			<a class="opcion text-right">Añadir <span class="glyphicon glyphicon-plus-sign"></span></a>	
			<table class="table">
					<thead>
						<tr>
							<th>Name:</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>SubGrupo1</td>
							<td><a>Borrar <span class="glyphicon glyphicon-minus-sign"></a></td>
						</tr>
						<tr>
							<td>SubGrupo2</td>
							<td><a>Borrar <span class="glyphicon glyphicon-minus-sign"></a></td>
						</tr>
					</tbody>
			</table>
		</div>
	</div>
	<div class="tabBody" id="projectInsideTAB" style="display:none">
		<div class="tableContainer">
			<a class="opcion text-right">Añadir <span class="glyphicon glyphicon-plus-sign"></span></a>
			<table class="table">
					<thead>
						<tr>
							<th>Nombre:</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Projecto1</td>
							<td><a>Borrar <span class="glyphicon glyphicon-minus-sign"></a></span></td>
						</tr>
						<tr>
							<td>Projecto2</td>
							<td><a>Borrar <span class="glyphicon glyphicon-minus-sign"></a></span></td>
						</tr>
					</tbody>
			</table>
		</div>
	</div>
	<div class="tabBody" id="permisionTAB" style="display:none">
		<div class="row">
			<div class="col-md-6">
				<h3 style="margin-top:40px">Permisos de compartición de grupo:</h3>
				<div class="" style="margin-left:20px;">			
					<div class="checkbox">
					<label><input type="checkbox" id="sharingGroupPermissions" ng-click="checkBox('sharingGroupPermissions')" ng-model="sharingGroupPermissions[0]">Todos.</label>
					</div>
					<hr style="margin-top:0px;"></hr>
					<div class="checkbox">
						<label><input type="checkbox" id="sharingGroupPermissions1" ng-model="sharingGroupPermissions[1]" disabled>Compartir proyectos en el grupo.</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" id="sharingGroupPermissions2" ng-model="sharingGroupPermissions[2]" disabled>Eliminar proyectos propios del grupo.</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" id="sharingGroupPermissions3" ng-model="sharingGroupPermissions[3]" disabled>Eliminar proyectos ajenos del grupo.</label>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<h3 style="margin-top:40px">Permisos de propiedades del proyecto:</h3>
				<div class="" style="margin-left:20px;">			
					<div class="checkbox">
						<label><input type="checkbox" id="projectPropertiesPermissions" ng-model="projectPropertiesPermissions[0]" ng-click="checkBox('projectPropertiesPermissions')"  value="">Todos.</label>
					</div>
					<hr style="margin-top:0px;"></hr>
					<div class="checkbox">
						<label><input type="checkbox" id="projectPropertiesPermissions1" ng-model="projectPropertiesPermissions[1]" value="" disabled>Ejecutar proyectos.</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" id="projectPropertiesPermissions2" ng-model="projectPropertiesPermissions[2]" value="" disabled>Modificar valores de entrada.</label>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3 style="margin-top:40px">Permisos de gestión de miembros del grupo:</h3>
				<div class="" style="margin-left:20px;">			
					<div class="checkbox">
						<label><input type="checkbox" id="memberGestionPermissions" ng-model="memberGestionPermissions[0]" ng-click="checkBox('memberGestionPermissions')" value="">Todos.</label>
					</div>
					<hr style="margin-top:0px;"></hr>
					<div class="checkbox">
						<label><input type="checkbox" id="memberGestionPermissions1" ng-model="memberGestionPermissions[1]" value="" disabled>Añadir miembros.</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" id="memberGestionPermissions2" ng-model="memberGestionPermissions[2]" value="" disabled>Eliminar miembros.</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" id="memberGestionPermissions3" ng-model="memberGestionPermissions[3]" value="" disabled>Eliminar proyectos ajenos del grupo</label>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<h3 style="margin-top:40px">Permisos de creación de grupos</h3>
				<div class="" style="margin-left:20px;">			
					<div class="checkbox">
						<label><input type="checkbox" id="groupCreationPermissions" ng-model="groupCreationPermissions[0]" ng-click="checkBox('groupCreationPermissions')" value="">Todos.</label>
					</div>
					<hr style="margin-top:0px;"></hr>
					<div class="checkbox">
						<label><input type="checkbox" id="groupCreationPermissions1" ng-model="groupCreationPermissions[1]" value="" disabled>Creación de grupos.</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" id="groupCreationPermissions2" ng-model="groupCreationPermissions[2]" value="" disabled>Creación de grupos publicos.</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" id="groupCreationPermissions3" ng-model="groupCreationPermissions[3]" value="" disabled>Creación de grupos privados</label>
					</div>
				</div>
			</div>
		</div>
		<br></br>
		<button class="btn btn-primary btn-lg" ng-click="makeClickUpdate()"> Modificar</button>
	</div>
</div>
