<div id="projectModal" class="modal">
	  <!-- Modal content -->
	<div id="projectContent" class="modal-content" style="width: 70%;margin-left: 25%;margin-top:7%;">
		
	</div>
</div>

<div class="page-header">
	<h1>Mis proyectos:</h1>
</div>

	<div class="container" style="width:100%" >
		<div id="infoNoProjects" style="display:none" class="alert alert-success" role="alert">OH! Vaya! No tienes ningun projecto creado en ningún grupo ¿Por que no creas algún proyecto en un grupo? O creas un proyecto para todo el mundo en el grupo publico.</div>
		<div class="project row" ng-repeat="project in projects track by $index" style="border:groove 1px; padding:15px; width:100%;margin-top:10px;" ng-attr-id="{{project.hashcode}}" ng-click="makeClick(project.hashcode)">
			<div class="col-md-2 col-xs-3">
				<img style="background-color: coral;padding:10px;margin:5px;" class="img-circle" src="resource/img/engranaje.svg" width="80" heigth="80"/>	
			</div>
			<div class="col-md-10 col-xs-9">
				<div class="projectInfo">
					<div class="page-header">
						<h4 style="margin-top:0px">{{project.name}}</h4>
					</div>
					<textarea ng-attr-id="{{'description-'+$index}}" style="width:100%;resize: none;border:0" ng-model="project.description"></textarea>
				</div>	
			</div>			
		</div>
	<div>
