<div class="page-header">
	<h1>Mis grupos:</h1>
</div>
<div id="projectModal" class="modal">
	  <!-- Modal content -->
	<div id="groupContent" style="width: 70%;margin-left: 25%;margin-top:7%" class="modal-content">
		
	</div>
</div>
<div class="container" style="width:100%" id="bodyListGroup">
		<div id="infoNoProjects" style="display:none" class="alert alert-success" role="alert">OH! Vaya! No tienes ningun grupo creado en ningún grupo ¿Por que no le dices a algún administrador que te invite a un grupo? Si no lo consigues, siempre podrás ejecutar proyectos en el espacio publico.</div>
		<div class="project row" ng-repeat="group in myGroups track by $index" style="border:groove 1px; padding:15px; width:100%;margin-top:10px;" ng-attr-id="{{group.hashcode}}" ng-click="clickGroup(group.hashcode)">
			<div class="col-md-2 col-xs-3">
				<img style="padding:10px;margin:5px;" class="img-circle" src="resource/img/group.svg" width="100" heigth="100" />	
			</div>
			<div class="col-md-10 col-xs-9">
				<div class="mainInfo">
					<div class="page-header">
						<h4 style="margin-top:0px">{{group.name}}</h4>
					</div>
					<textarea ng-attr-id="{{'description-'+$index}}" style="width:100%;resize: none;border:0" ng-model="group.description"></textarea>
				</div>
			</div>			
		</div>
	<div>



