<div class="page-header">
	<h1>Nuevo proyecto para NOMBREGRUPO</h1>
</div>

<div class="alert alert-danger">
	<p>Vamos a crear un proyecto. La aplicación esta destinada para proyectos probados, su función es realizar un servicio. No realizar un mal sobre el sistema. Se espera que el usuario sea consciente de ello.</p>
</div> 

<h2>Tipo de proyecto:</h2>
<div class="row" id="faseSelectType">
	<div class="col-xs-6 col-md-3">
		<div id="pythonPick" class="well"  ng-click="clickType('PYTHON')">
			<img width="100" height="100" style="margin-left:20%" src="resource/img/Python-logo.png"/>
		</div>
	</div>
	<div class="col-xs-6 col-md-3">
		<div  id="javaPick" class="well" ng-click="clickType('JAVA')">
			<img width="100" height="100" style="margin-left:20%" src="resource/img/Java-logo.png"/>
		</div>
	</div>
	<div class="col-xs-6 col-md-3">
		<div  id="octavePick" class="well" ng-click="clickType('OCTAVE')">
			<img width="100" height="100" style="margin-left:20%" src="resource/img/Octave-logo.svg"/>
		</div>
	</div>
	<div class="col-xs-6 col-md-3">
		<div id="rPick" class="well" ng-click="clickType('R')">
			<img width="100" height="100" style="margin-left:20%" src="resource/img/R-logo.svg"/>
		</div>
	</div>  
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Información basica del proyecto:</h2>
	</div>
	<div class="panel-body">
		<div class="form-group">
			<label for="name">Nombre del proyecto:</label>
			<input type="text" class="form-control" id="name" ng-model="name">
		</div>
		<div class="form-group">
			<label for="description">Descripción del proyecto:</label>
			<textarea id="description" style="width: 100%;" ng-model="description"></textarea>
		</div>
		<div class="form-group">
			<label for="url">Url del repositorio GIT:</label>
			<input type="text" class="form-control" id="url" ng-model="gitRepositoryURL">
		</div>
		<div class="form-group">
			<label for="user">Usuario del repositorio:</label>
			<input type="text" class="form-control" id="user" ng-model="email">
		</div>
		<div class="form-group">
			<label for="pass">Contraseña del repositorio:</label>
			<input type="password" class="form-control" id="pass" ng-model="password">
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h2> Información funcionamiento del proyecto:</h2>
	</div>
	<div class="panel-body">
		<div class="form-group">
			<label for="mainName">Nombre del programa principal proyecto:</label>
			<input type="text" class="form-control" id="mainName" ng-model="mainName">
		</div>
		<div class="form-group">
			<label for="responseName">Nombre del archivo de respuesta del proyecto:</label>
			<input type="text" class="form-control" id="responseName" ng-model="responseName">
		</div>
		<div class="form-group">
			<label for="defaultInputs">Entradas por defecto del proyecto:</label>
			<div id="defaultInputs">
				<button class="btn" ng-click="addArgument()">+</button>
				<div id="contenedor">
					<ul id="arrayDefaultInput">
						<li id="element_0">[0]: <input id="value_0" type="text"></li>
					</ul>
				</div>
				<button class="btn" ng-click="removeArgument()">-</button>
			</div>
		</div>
		<div class="form-group">
			<label for="inputDescription">Descripción de la entrada del proyecto:</label>
			<textarea id="inputDescription" style="width: 100%;" ng-model="inputDescription"></textarea>
		</div>
		<div class="form-group">
			<label for="outputDescription">Descripción de la salida proyecto:</label>
			<textarea id="outputDescription" style="width: 100%;" ng-model="outputDescription"></textarea>
		</div>
	</div>
</div>
<button class="btn btn-primary btn-lg" ng-click="makeSubmit()"> Crear Proyecto</button>
