<style>
	.optionsMenuPath{
		font-size:20px;
	}
</style>
<div id="pathModal" class="modal">
	  <!-- Modal content -->
	<div id="pathContent" class="modal-content" style="width: 70%;margin-left: 25%;margin-top:7%;">
		
	</div>
</div>
<div class="sub-header">
	<ol class="breadcrumb">
		<li ng-id="{{'menu'+navigation.id}}" ng-repeat="navigation in navigations"><a ng-click="go(navigation.id)">{{navigation.name}}</a></li>
	</ol>
</div>
<div class="table-responsive">
	<table class="table table-striped">
              <tbody>
			<tr ng-repeat="group in groupsPath">
				<td class="optionsMenuPath"><span style="color:blue;" class="glyphicon glyphicon-folder-close"></span></td>
				<td><a ng-click="clickEnterGroup(group.hashcode)">{{group.name}}</a></td>
				<td class="optionsMenuPath"><a class="glyphicon glyphicon-info-sign" ng-click="clickInfoGroup(group.hashcode)"><span></span></a></td>
			</tr>
             		<tr ng-repeat="project in projectsPath">
				<td class="optionsMenuPath"><span style="color:coral;" class="glyphicon glyphicon-book"></span></td>
				<td><a ng-click="clickEnterProject(project.hashcode)">{{project.name}}</a></td>
				<td class="optionsMenuPath">
					<a ng-click="clickInfoProject(project.hashcode)">
						<span class="glyphicon glyphicon-info-sign"></span>
					</a> 						
					<a ng-click="clickExecutedProject(project.hashcode)">
						<span class="glyphicon glyphicon-dashboard"></span>
					</a>
				</td>
			</tr>
              </tbody>
            </table>
</div>
