<!DOCTYPE html>
<html lang="en">
  <head>
	<link href="http://www.iconarchive.com/download/i83014/designbolts/handstitch-social/Cloud.ico" rel="icon" >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>UniApi-Dashboard</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
	
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" href="/css/dashboard.css"/>
	<style>
		.principal{
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.perfil{
			width:70px;
			high:70px;
		}
		.carga{
			border:groove 2px;
		}
		.typeActive{
			border: groove blue;
		}
		.noPulse{
			display:block;
		}
		
	</style>
  </head>
<body ng-app="menuApp">

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<a class="navbar-brand" style="padding-left:50%;font-family: 'Anton', sans-serif;font-size:22px;" href="#/"><span style="padding-right:10px" class="glyphicon glyphicon-cloud"></span><span>UniApi</span></a>
       		 </div>
    </nav>
	<!-- The Modal -->
	<div id="myModal" class="modal">
	  <!-- Modal content -->
	  <div class="modal-content">
	  	<img src="resource/img/carga.gif" style="padding-left:45%">
		<h4 class="text-center">We are loading the initial data. Wait please...</h4>
	  </div>
	</div>

    <div class="container-fluid" id="page" style="display:none">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
			<div class="principal text-center">
				<img class="perfil img-circle" width="70" high="70" id="perfil" src="resource/img/perfil.jpg" />
				<h5 id="userName">user@user.com</h5>
				<span class="text-muted" style="font-size:10px" id="completeName">User subname1 subname2</span>
				<hr style="margin-bottom: 5px;"></hr>
				<button class="btn btn-default btn-sm" onClick="logOut()">Log out</button>
			</div>
          <ul class="nav nav-sidebar">
            <li><a href="#/">Home page <span class="sr-only">(current)</span></a></li>
            <li><a href="#Groups">Grupos</a></li>
            <li><a href="#Projects">Proyectos</a></li>
            <li><a href="#Config">Configuración</a></li>
	    <li><a href="#Admin">Administration</a></li>
	  </ul>
          <ul class="nav nav-sidebar">
            <li><a href="#NewProject">Nuevo proyecto</a></li>
            <li><a href="#NewGroup">Nuevo grupo</a></li>
          </ul>
        </div>

	</div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-view>

          


          
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
	<script src="https://getbootstrap.com/assets/js/vendor/holder.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="https://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
	<script src="js/domainApp.js"></script>

	<script>
		// Get the modal
		var modal = document.getElementById('myModal');

		$(document).ready(function(){
			$("#page").css("display","none");			
			modal.style.display = "block";
			loggin();
		});
		function logOut(){
			localStorage.setItem("tokenSession",null);
			window.location.href="loggin";
		}
		function loggin(){
			var tokenSession=localStorage.getItem("tokenSession");

			if(tokenSession == null){
				window.location.href="loggin";
			}

			$.ajax({
				method:"GET",
				url:"http://localhost:8080/"+tokenSession+"/whoami"
			}).done(function(response){
				console.log(response);
				if(response.state != 0)
					window.location.href="loggin";
				modal.style.display = "none";
				$("#page").css("display","block");
				$("#perfil").attr("src",response.person.profileImageUrl);
				$("#completeName").text(response.person.name+" "+response.person.subname);
				$("#userName").text(response.userLogin.user);
			}).error(function(error){
				window.location.href="loggin";
			});

		}
		function sendNewProyect(proyecto){

			var tokenSession=localStorage.getItem("tokenSession");
			var data=JSON.stringify(proyecto);
			if(tokenSession == null)
				window.location.href="loggin";

			$.ajax({
				method:"POST",
				url:"http://localhost:8080/project/"+tokenSession+"/create",
				dataType: 'json',
				contentType: 'application/json',
				data: data
			}).done(function(response){
				console.log(response);
				if(response.state != 0){
					window.location.href="loggin";
				}
			}).error(function(error){
				console.log(error);
				window.location.href="/";
			});		
		}
		function sendNewGroup(group){

			var tokenSession=localStorage.getItem("tokenSession");
			var data=JSON.stringify(group);
			if(tokenSession == null)
				window.location.href="loggin";

			$.ajax({
				method:"POST",
				url:"http://localhost:8080/group/"+tokenSession+"/create",
				dataType: 'json',
				contentType: 'application/json',
				data: data
			}).done(function(response){
				console.log(response);
				if(response.state != 0){
					//window.location.href="loggin";
				}
			}).error(function(error){
				console.log(error);
				//window.location.href="/";
			});		
		}

		   
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

	<script>
	
		var app = angular.module('menuApp',["ngRoute"]);
		app.config(function($routeProvider) {
		    $routeProvider
		    .when("/", {
			templateUrl : "pages/main.htm"
			
		    })
		    .when("/Groups", {
			templateUrl : "pages/listGroup.htm",
			controller : "listGroupCtrl"
		    })
		    .when("/Projects", {
			templateUrl : "pages/listProject.htm",
			controller : "listProjectCtrl"
		    })
		    .when("/Config", {
			template : "<h1>Configuration:</h1>"
		    })
		    .when("/Admin", {
			template : "<h1>Administration:</h1>"
		    })
		    .when("/NewProject", {
			templateUrl : "pages/newProject.htm",
			controller : "newProjectCtrl"
		    })
		    .when("/NewGroup", {
			templateUrl : "pages/newGroup.htm",
			controller : "newGroupCtrl"
		    });
		});
		app.controller("listGroupCtrl",function ($scope,$http){
		
		};
		app.controller("listProjectCtrl",function ($scope,$http){

			var tokenSession=localStorage.getItem("tokenSession");
			$scope.projects=new Array();
			$http({
				method : "GET",
				url : "http://localhost:8080/project/"+tokenSession+"/all"
			}).then(function(response){
				console.log(response.data.relatedIDs);
				$scope.IDs=response.data.relatedIDs;
				if($scope.IDs.length<=0){
					$("#infoNoProjects").css("display","block");
				}
				for(var j=0;j<$scope.IDs.length;j++){
					$http({
						method:"GET",
						url:"http://localhost:8080/project/"+tokenSession+"/"+$scope.IDs[j]
					}).then(function(response){
						console.log(response);
						if(response.data.state==0)
							$scope.projects.push(response.data.projects[0]);
					});
							
				}

			});

			$scope.loadProjects= function(){
				var tokenSession=localStorage.getItem("tokenSession");
				$scope.projects=new Array();
				$http({
					method : "GET",
					url : "http://localhost:8080/project/"+tokenSession+"/all"
				}).then(function(response){
					console.log(response.data.relatedIDs);
					$scope.IDs=response.data.relatedIDs;
					for(var j=0;j<$scope.IDs.length;j++){
						$http({
							method:"GET",
							url:"http://localhost:8080/project/"+tokenSession+"/"+$scope.IDs[j]
						}).then(function(response){
							console.log(response);
							if(response.data.state==0)
								$scope.projects.push(response.data.projects[0]);
						});
							
					}

				});
		
			};

			$scope.makeClick = function(id){
				if($("#secondaryInfo-"+id).css("display") == "block")
					return;
				for(var i=0;i<$scope.IDs.length;i++){
					if(id==i){
						$scope.lookProject(i);
					}else{
						$scope.unLookProject(i);
					}
				}

			};
			$scope.makeClickUpdate = function(id){
				//Abrimos un modal y preguntamos si queremos modificar.
				console.log($scope.projects[id]);
				$scope.msg="¿De verdad quieres editar el proyecto "+$scope.projects[id].name+" ?";
				$scope.id=id;
				$scope.actionDelete=false;
				$scope.actionUpdate=true;
				$scope.actionShare=false;
				$("#projectContent").css("width","50%");				
				$("#projectModal").css("display","block");
			};
			$scope.makeClickDelete = function(id){
				//Abrimos un modal y preguntamos si queremos modificar.
				console.log($scope.projects[id]);
				$scope.msg="¿De verdad quieres eliminar el proyecto "+$scope.projects[id].name+" ?";
				$scope.id=id;
				$scope.actionDelete=true;
				$scope.actionUpdate=false;
				$scope.actionShare=false;
				$("#projectContent").css("width","50%");				
				$("#projectModal").css("display","block");
			};
			$scope.makeAction= function(){
				
				if($scope.actionUpdate)
					$scope.updateProject();
				if($scope.actionDelete)
					$scope.deleteProject();
				if($scope.actionShare)
					$scope.shareProject();
			};
			$scope.dontMakeAction= function(){
				$("#projectModal").css("display","block");
			};
			$scope.lookProject= function(id){
				$("#secondaryInfo-"+id).css("display","block");
				$("#action-"+id).css("display","block");
				$("#description-"+id).css("border","1px solid #ccc");
			};
			$scope.unLookProject= function(id){
				$scope.id=id;
				$("#secondaryInfo-"+id).css("display","none");
				$("#action-"+id).css("display","none");
				$("#description-"+id).css("border","0");
			};
			$scope.updateProject=function(){
				$("#loading").css("display","block");
				$("#question").css("display","none");
				console.log("name: "+$scope.projects[$scope.id].name);
				$http({
					method:"PATCH",
					url:"http://localhost:8080/project/"+tokenSession+"/"+$scope.projects[$scope.id].hashcode,
					data:JSON.stringify($scope.projects[$scope.id])					
				}).then(function(response){
					console.log(response.data);
					if(response.data.state != 0){
						$("#loadingGif").css("display","none");
						$("#wrongGif").css("display","block");
						var counter=0;
						while(counter<200){
							counter++;
						}
					}else{
						$scope.loadProjects();						
						var counter=0;
						while(counter<200){
							counter++;
						}						
						$("#projectModal").css("display","none");
						
					}
				});
			};
			$scope.deleteProject=function(){
				$("#loading").css("display","block");
				$("#question").css("display","none");
				$http({
					method:"DELETE",
					url:"http://localhost:8080/project/"+tokenSession+"/"+$scope.projects[$scope.id].hashcode,
				}).then(function(response){
					console.log(response.data);
					if(response.data.state != 0){
						$("#loadingGif").css("display","none");
						$("#wrongGif").css("display","block");
						var counter=0;
						while(counter<200){
							counter++;
						}
					}else{
						$scope.loadProjects();						
						var counter=0;
						while(counter<200){
							counter++;
						}						
						$("#projectModal").css("display","none");
						
					}
				});
			};
		});
		app.controller("newGroupCtrl", function ($scope,$http) {
			$scope.loadPermission=function(){
				$scope.sharingGroupPermissions=[false,false,false,false];
				$scope.projectPropertiesPermissions=[false,false,false];
				$scope.memberGestionPermissions=[false,false,false,false];
				$scope.groupCreationPermissions=[false,false,false,false];
			};
			angular.element(document).ready($scope.loadPermission());
			$scope.checkBox=function(checkBox){
				var check=$("#"+checkBox).prop("checked");
				if(!check){
					for(var i=1;i<=3;i++){
						$("#"+checkBox+i).removeProp("checked");
						$("#"+checkBox+i).attr("disabled","disabled");
						$("#"+checkBox+i).val("false");
					}
					if(checkBox=="sharingGroupPermissions"){
						$scope.sharingGroupPermissions[1]=false;
						$scope.sharingGroupPermissions[2]=false;
						$scope.sharingGroupPermissions[3]=false;						
					}
					if(checkBox=="projectPropertiesPermissions"){
						$scope.projectPropertiesPermissions[1]=false;
						$scope.projectPropertiesPermissions[2]=false;					
					}
					if(checkBox=="memberGestionPermissions"){
						$scope.memberGestionPermissions[1]=false;
						$scope.memberGestionPermissions[2]=false;
						$scope.memberGestionPermissions[3]=false;				
					}
					if(checkBox=="groupCreationPermissions"){
						$scope.groupCreationPermissions[1]=false;
						$scope.groupCreationPermissions[2]=false;
						$scope.groupCreationPermissions[3]=false;
					}
				}else{
					for(var i=1;i<=3;i++){
						$("#"+checkBox+i).prop("checked","true");
						$("#"+checkBox+i).removeAttr("disabled");
						$("#"+checkBox+i).val("true");
						if(checkBox=="sharingGroupPermissions"){
							$scope.sharingGroupPermissions[1]=true;
							$scope.sharingGroupPermissions[2]=true;
							$scope.sharingGroupPermissions[3]=true;						
						}
						if(checkBox=="projectPropertiesPermissions"){
							$scope.projectPropertiesPermissions[1]=true;
							$scope.projectPropertiesPermissions[2]=true;					
						}
						if(checkBox=="memberGestionPermissions"){
							$scope.memberGestionPermissions[1]=true;
							$scope.memberGestionPermissions[2]=true;
							$scope.memberGestionPermissions[3]=true;				
						}
						if(checkBox=="groupCreationPermissions"){
							$scope.groupCreationPermissions[1]=true;
							$scope.groupCreationPermissions[2]=true;
							$scope.groupCreationPermissions[3]=true;
						}
					}
				}
			};
			$scope.clickTypeGroup=function(id){
				switch(id){
					case "privateButton":
						$("#privateButton").addClass("active");
						$("#mainButton").removeClass("active");
						$("#publicButton").removeClass("active");
						$scope.type="RESTRICTED_GROUP";
					break;
					case "publicButton":
						$("#publicButton").addClass("active");
						$("#privateButton").removeClass("active");
						$("#mainButton").removeClass("active");
						$scope.type="PUBLIC_GROUP";
					break;
					case "mainButton":
						$("#publicButton").removeClass("active");
						$("#privateButton").removeClass("active");
						$("#mainButton").addClass("active");
						$scope.type="MAIN_GROUP";
					break;
				};
			};
			$scope.parseVector=function(vector){
				var aux=new Array();					
				for(var i=0;i<vector.length;i++){
					if(vector[i]==true){
						aux.push("YES");
					}
					if(vector[i]==false){
						aux.push("NO");
					}
				}
				vector=aux;
				return vector;
			};
			$scope.makeSubmit=function(){

				$scope.sharingGroupPermissions=$scope.parseVector($scope.sharingGroupPermissions);
				$scope.projectPropertiesPermissions=$scope.parseVector($scope.projectPropertiesPermissions);
				$scope.memberGestionPermissions=$scope.parseVector($scope.memberGestionPermissions);
				$scope.groupCreationPermissions=$scope.parseVector($scope.groupCreationPermissions);

				var groupToCreate=new group(
					$scope.name,
					new Date().getTime(),
					$scope.type,
					$scope.sharingGroupPermissions,
					$scope.projectPropertiesPermissions,
					$scope.memberGestionPermissions,
					$scope.groupCreationPermissions,
					$scope.description
				);
				console.log(groupToCreate);
				sendNewGroup(groupToCreate);
			};
		});
		app.controller("newProjectCtrl", function ($scope,$http) {
			$scope.clean = function(){
				
			};
			$scope.counter=0;
			$scope.addArgument = function(){
				$scope.counter++;
				$("#arrayDefaultInput").append("<li id='element_'"+$scope.counter+">["+$scope.counter+"]: <input id='value_"+$scope.counter+"' type='text'></li>");
			};
			$scope.removeArgument = function(){
				$("#arrayDefaultInput").children().get($scope.counter).remove();
				$scope.counter--;
			};
			$scope.makeSubmitDefaultInputs = function(){
				var response=new Array();
				if($scope.counter==0 && $("#value_"+0).val() == "")
					return response;
						
				for(var j=0;j<=$scope.counter;j++){
					response.push($("#value_"+j).val());
				}
				return response;
			};
			$scope.makeSubmit = function (){
				if($scope.type == null){
					alert("selecciona un tipo de proyecto");
					return;
				}
				var proyecto= new project("vacio",
							$scope.name, 
							$scope.type,
							$scope.description,
							$scope.gitRepositoryURL,
							$scope.email,
							$scope.password,
							new Date().getTime(),
							new Date().getTime(),
							$scope.mainName,
							$scope.responseName,
							//$scope.defaultInputs,
							$scope.makeSubmitDefaultInputs(),							
							$scope.inputDescription,
							$scope.outputDescription);
				console.log(proyecto);
				var anwser=sendNewProyect(proyecto);
			};
			$scope.clickType= function (type){
				$scope.type=type;
				switch(type){
					case 'PYTHON':
        					$("#pythonPick").addClass("typeActive");
						$("#javaPick").removeClass("typeActive");
						$("#octavePick").removeClass("typeActive");
						$("#rPick").removeClass("typeActive");
						$scope.type="PYTHON";
        				break;
					case 'JAVA':
        					$("#javaPick").addClass("typeActive");
						$("#pythonPick").removeClass("typeActive");
						$("#octavePick").removeClass("typeActive");
						$("#rPick").removeClass("typeActive");
						$scope.type="JAVA";        				
					break;
					case 'R':
        					$("#rPick").addClass("typeActive");
						$("#javaPick").removeClass("typeActive");
						$("#octavePick").removeClass("typeActive");
						$("#pythonPick").removeClass("typeActive");
						$scope.type="R";
        				break;
					case 'OCTAVE':
        					$("#octavePick").addClass("typeActive");
						$("#javaPick").removeClass("typeActive");
						$("#pythonPick").removeClass("typeActive");
						$("#rPick").removeClass("typeActive");
						$scope.type="OCTAVE";        				
					break;
    					default:
        					$("#pythonPick").removeClass("typeActive");
						$("#javaPick").removeClass("typeActive");
						$("#octavePick").removeClass("typeActive");
						$("#rPick").removeClass("typeActive");
			
				}
			}
		});
		
	</script>

  
  </body>
</html>
